html {
    width: 100%;
    height: 100%;
    margin: auto
}

body {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 0.9em
}

.main {
    text-align: left;
    max-width: 55em;
    margin: 3em auto 2em;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

table {
    margin: 1em;
    border-collapse: collapse
}

td, th {
    padding: 0 20px
}

tr:hover {
    background: #e8e6e7
}

.half {
    max-width: 50%
}

.uplot {
    margin: auto
}
